#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    margin: auto;
    text-align: justify;
    padding: 0% 10%;
    background-color: #222831;
}