#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 14rem;
    gap: 2rem;
    background-color: #222831;
}

.linksfooter,
.iconsfooter {
    display: flex;
    gap: 2rem;
}

.linkfooter {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}



.iconfooter {
    font-size: 2.4rem;
    color: #fff;
}