nav {
    display: flex;
    height: 6rem;
    background-color: #fff;
    position: sticky;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
}

.icon {
    font-size: 3.5rem !important;
    color: #222831 !important;
}

main {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 11px 28px;
    border: 1px solid #222831;
    color: #222831;
    background-color: #fff;
    border-radius: 18px;
    font-size: 1.2rem;
    margin: 1rem;
}

button:hover {
    border: 1px solid #222831;
    background-color: #222831;
    color: #fff;
}

.link {
    text-decoration: none !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    color: #222831 !important;
}