#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 1.6rem;
    height: 550px;
    background-color: #fff;
    padding-top: 2rem;
}

h1 {
    font-size: 3rem;
}

img[alt="profilepic"] {
    width: 300px;
}

img[alt="devices"] {
    width: 800px;
}