#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    height: 550px;
    background-color: #eaeaea;
}



img {
    width: 300px;
}