#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row {
    display: flex;
    justify-content: center;
    gap: 60px;
}

img[alt='skill'] {
    height: 230px;
}